
 body {
     margin: 0px;
     margin-top: -10px;
     font-size: 18px;
     font-family: Arial;

}
 .container {
	 width: 80%;
	 margin: 0 auto;
}
 header {
	 background: #02aff9;
     padding: 1em 0;
     margin-left: -8px;
     margin-right: -16px;
}
 header a {
	 color: white;
	 text-decoration: none;
}
 header a.logo {
	 font-weight: bold;
}
 header nav {
	 float: right;
}
 header nav ul {
	 list-style-type: none;
	 margin: 0;
	 display: flex;
}
 header nav ul li a {
	 padding: 1em;
}
 header nav ul li a:hover {
	 background: #03aaf7;
}
 h1 {  
     text-align: center;
}
 